.go-back-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.other-users {
  display: flex;
  justify-content: center;
}

.user-li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#map {
  height: 450px;
}

.other-user-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.heart {
  width: 64px;
  height: 64px;
  cursor: pointer;
}
