.profile-container {
  display: flex;
}

.edit-profile-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 240, 243);
  padding: 32px;
  gap: 30px;
  min-height: 100vh;
}

.profile-info-container {
  width: 50%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.profile-info-ul {
  margin-top: 30px;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-about {
  display: flex;
  flex-direction: column;
}

.user-about {
  max-width: 300px;
  word-wrap: break-word;
}

.new-info-container {
  gap: 16px;
}

.new-el-div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 240, 243);
  padding: 12px;
  max-width: 500px;
  min-width: 280px;
  word-wrap: break-word;
}

.new-el-div > p {
  max-width: 70%;
}

.delete-btn,
.edit-btn {
  padding: 4px;
  cursor: pointer;
}

.add-new-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.add-new-info-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-new-info-title-container {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.liked-profiles-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 12px;
}

.liked-profile-li {
  background-color: rgb(236, 240, 243);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.heart {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.new-info-container,
.liked-profiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liked-profile-info-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.see-profile-btn {
  cursor: pointer;
  width: 100%;
}
