.profile-container {
  display: flex;
}

.edit-profile-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 240, 243);
  padding: 32px;
  gap: 30px;
  min-height: 100vh;
}

.profile-info-container {
  width: 50%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-about {
  display: flex;
  flex-direction: column;
}

.user-about {
  max-width: 300px;
  word-wrap: break-word;
}

.new-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.new-el-div {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 240, 243);
  padding: 12px;
  max-width: 500px;
  word-wrap: break-word;
}

.new-el-div > p {
  max-width: 70%;
}

.delete-btn {
  padding: 4px;
  cursor: pointer;
}
